*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
html{
    font-family: 'Montserrat', sans-serif;
    max-width: 1440px;
    font-size: 10px;
}
body{
    position: relative;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
body{
    min-width: 500px;
}

/* Navigation bar  */
nav{
    position: relative;
    height: calc(100vh - 100px);
    background-color: black;
    overflow-y: hidden;
    width: 280px;
}
nav .menu-container-top{
    position: fixed;
    flex-direction: column;
    padding-left: 2em;
    padding-top: 2.4em;
    overflow-y: hidden;
    background-color: black;
    color: rgba(110, 113, 118, 1);
}
.pad2{
    padding: 2rem;
}
.rad{
    border-radius: 50% ;
}

/* Menu logo */
.menu-logo{
    padding-bottom: 2.4em;

}
.menu-small-logo{
    display: none;
}
.menu-large-logo{
    width: 200px;
    height: auto;
}

/* Menu button */
.menu-button{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(110, 113, 118, 1);
}
.menu-button ul a{
    color: inherit;
}
.menu-button ul img{
    width: 3.5rem;
    height: auto;
    vertical-align: middle;
    opacity: 0.7;
}
.menu-button li{
    padding-bottom: 1rem;
}
/* menu button hover */
.menu-button li :hover{
    color: white;

}
.menu-button li :hover > img{
    opacity: 1;
}

/* Menu Playlist */
.menu-playlist{
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(110, 113, 118, 1);
    overflow-y: auto;
    width: 100%;
}
.menu-playlist h1{
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    padding-bottom: 1rem;
}
.menu-playlist-button{
    cursor: pointer;
}
.menu-playlist-button button{
    background-color: grey;
    width: 45px;
    font-size: 4rem;
    text-align: center;
    border: none;
    vertical-align: middle;
    margin-right: 1rem;
}
.menu-playlist-button span{
    font-size: 1.6rem;
}
.menu-playlist ul li{
    padding-top: 2em;
}
.menu-playlist ul{
    height: 25rem;
    overflow-y: auto;
    width: 100%;
}
/* menu playlist hover */
.menu-playlist-button:hover > span{
    color: white;
 
}
.menu-playlist-button:hover > button{
    background-color: white;
}
.menu-playlist li :hover{
    color: white;
}

/* Menu Profile */
.menu-container-bottom{
    padding-left: 2em;
    width: 280px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
}
.menu-profile{
    color: rgba(110, 113, 118, 1);
    font-size: 1.2rem;
    width: 80%;
}
.menu-profile hr{
 margin: 1rem 0rem;
 border-color: rgba(110, 113, 118, 0.9);
}
.menu-profile #download i{
    border: 1px solid grey;
    border-radius: 50%;
    font-size: 1rem;
    padding: 0.3rem;
    margin-right: 1em;
    cursor: pointer;
}
.menu-profile #profile{
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    padding: 1rem 0em;
    
}
#profile span{
    padding-left: 0.6rem;
}
#profile img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background-color: rgba(128, 128, 128, 0.664);
    border-radius: 50%;
}
/* menu bottom hover */
#download:hover{
    color: white;
    border-color: white;
}
/* Menu medfia screen */
@media screen  and (max-width:550px) {
   
    nav{
        margin: 0;
        padding: 0;
        width: 60px;

    }
    .menu-large-logo{
       display: none;
    }
    .menu-small-logo{
        display: inline-block;
        width: 30px;
        height: auto;
    }
    .menu-button span{
        display:none
    }
    .menu-playlist{  
        text-align: center;
        display: none;
    }
    .menu-profile span, .menu-profile hr{
        display: none;
    }
    .menu-container-bottom{
        width: auto;
        text-align: center;    
    }
    nav .menu-container-top{
        padding-left: 1rem;
        width: auto;
        text-align: center;
    }
}


/* Header */
header{
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 280px);
    height: 100px; 
    background-color: rgba(10, 13, 20, 1);
}
.header-upgrade{
    text-align: right;
    line-height: 100px
}
.header-upgrade a{
    margin-right: 0.5rem;
    border: 1px solid white;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1em 2.5em;
    border-radius: 20px;
}
.header-upgrade a:hover{
    font-size: 1.3rem;
}


/* Main */
main{
    position: absolute;
    top: 100px;
    right: 0;
    width: calc(100% - 280px);
    height: calc(100% - 200px);
    background-color: rgba(20, 25, 34, 1);
    overflow: auto;
    color: rgba(110, 113, 118, 1);
}
main section h1{
    padding: 1.5rem 0rem;
    font-size: 2.2rem;
    font-weight: 600;
    color: white;
}
main section h2{
    color: white;
}
main section h3{
    padding-bottom: 1rem;
}
main .album-container{
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center; 
}

/* Main Bar */
.main-bar{
    font-size:1.3rem;
    text-align: center;
    padding-top: 2rem;
}
.main-bar a{
    text-transform: uppercase;
    padding-right: 1.5rem;
    margin-bottom: 2rem;
}
.main-bar-cont{
    display: inline-block;
}
.main-bar-border{
    display: block;
    width: 40%;
    border-bottom: 3px solid green;
    margin: 0.5em auto;
}

/* main bar hover */
.main-bar a:hover{
    color:white;
}

/* main album */
.main-album{
    width: calc(100%/6 - 1rem);
    margin-right: 1rem;
    position: relative;
    cursor: pointer;
}
.main-album h2{
    padding-bottom: 0.8rem;
    width: 99%;
}
.main-album-cover{
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 0.8rem;
}
.main-album-cover img{
    width: 100%;
    height: auto;   
    cursor: pointer;
}
.main-album div{
    color: rgba(110, 113, 118, 1);
    font-weight: 600;
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
    
}
@media screen and (max-width: 1150px) {
    .main-album{
        width: calc(100%/4 - 1rem);
    }
}
@media screen and (max-width: 850px) {
    .main-album{
        width: calc(100%/2 - 1rem);
    }
}
@media screen  and (max-width:550px){
    main, header{
       width:calc(100% - 60px); 
    }

}


/* Main  album hover */
.main-album-cover i{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-46%, -50%);
    font-size: 4.5rem;
    color:white;
    display: none; 
    cursor: pointer;  
}
.main-album:hover  #main-play {
    display: block;
}
.main-album:hover  img {
    opacity: 0.5;
}





/* Footer */
footer{
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(40, 40, 40, 1);
}

.footer-container{
    padding-left: 2em;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

/* Footer center */
.footer-center{
    height: 100%;
    width: 40%;
}
.footer-center-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-center-up, .footer-center-down{
    width: 100%;
    height: 50px;
    text-align: center;
    color: white
    
}
/* Center up */
.footer-center-up{
    font-size: 1.8rem;
    line-height: 50px;
}
#footer-play{
    font-size: 3rem;
}
.footer-center-up i{
    vertical-align: middle;
    margin: 0em 1rem;
}
/* Center up hover */
#footer-play:hover {
    font-size: 3.2rem;
}

/* Center down */
.footer-center-down{
    padding-top: 1.2rem;
}
.footer-big-line-container{
    display: inline-block;
    position: relative;
    width: 70%;
}
.footer-pointer{
    position: absolute;
    display: none;
    top: 0;
    left: 40%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}

.big-line {
    display: inline-block;
    margin-right: 1em;
    width: 90%;
    border-radius: 5px;
    height: 5px;
    background-color: gray;
    border: 0;
    vertical-align: middle;
}
.big-line:after {
    content: '';
    display: block;
    border-bottom: 5px solid lightgray;
    max-width: 40%;
}

/* footer center hover */ 
.footer-center-down:hover .big-line:after {
    border-color: green;
}
.footer-center-down:hover .footer-pointer{
    display: inline-block;
}


/* Footer side left */
.footer-side-left{
    display: flex;
    width: 30%;
}
.footer-left-song{
    display: flex;
    align-items: center;
}
.footer-left-song img{
    width: 45px;
    height: auto;
    vertical-align: middle;
}
.footer-left-song h1{
    padding-left: 0.5rem;
    color: white;
    font-size: 1.4rem;
}
.footer-left-song div{
    padding-left: 0.5rem;
    color: lightgrey;
    font-size: 1rem;
}
.footer-right-button{
    display: flex;
    align-items: center;
    justify-content: none;
    flex-wrap: wrap;
    padding-left: 4rem;
    font-size: 1.4rem;
    color: lightgrey;
}
.footer-right-button i{
    padding-left: 0.5rem;
}
/* footer side left hover */
.footer-right-button i:hover {
    color: white;
}

/* Footer side right */
.footer-side-right{
    line-height: 100px;
    font-size: 1.4rem;
    color: white;
    width: 30%;
    text-align: right;
}
.footer-side-right i{
    padding-right: 1rem;
}
.footer-line-container{
   display: inline-block;
   position: relative;
   width: 120px;
}
.line {
    display: inline-block;
    margin-right: 1em;
    width: 100%;
    border-radius: 5px;
    background-color: gray;
    border: 0;
    vertical-align: middle;  
}
.line:after {
    content: '';
    display: block;
    border-bottom: 5px solid lightgray;
    max-width: 20%;
}
.footer-pointer-right{
    position: absolute;
    display: none;
    top: 45%;
    left: 20%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}
/* footer side right :hover */
.footer-line-container:hover .line:after {
    border-color: green;
}
.footer-line-container:hover .footer-pointer-right{
    display: inline-block;
}
/* footer media screen */
@media screen  and (max-width:700px) {

     .footer-right-button{

         padding-left: 0rem;
         line-height: 100px;
         flex-direction: column;
         justify-content: center;

     }
     .footer-side-right{
        text-align: left;
     }
     .footer-line-container{
         width: 70px;
     }
     .footer-center-up{
         font-size: 1.5rem;
     }
     #footer-play{
         font-size: 2.8rem;
     }
}
